<div class="container">
  <!-- Loader que se muestra mientras se realiza la autenticación -->
  <app-loader *ngIf="loader"></app-loader>

  <!-- Logo -->
  <div class="col-md-4 mb-5">
    <div class="icon">
      <a href="">
        <img src="../../../assets/Logo.png" alt="">
      </a>
    </div>
  </div>

  <!-- Formulario -->
  <div class="col-md-4 ">

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <!-- Nombre de usuario -->
      <mat-form-field appearance="fill">
        <input matInput formControlName="email" placeholder="Correo Electronico">
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="fill">
        <input matInput type="password" formControlName="password" placeholder="Contraseña (Minimo 6 caracteres)">
      </mat-form-field>

      <!-- Recuperar la contraseña -->
      <span class="color-gray">
        <i> No recuerdas tu contraseña? Contacta con el administrador </i>
        <a href="" class="color-gray">AQUÍ</a>
      </span>

      <!-- Botón -->
      <div class="col-md-12" style="text-align: center;">
        <button mat-raised-button color="warn" [disabled]="loginForm.invalid" (click)="submit()">
          Ingresar
        </button>
      </div>

    </form>

  </div>
</div>
