<!-- app/csv/csv-upload/csv-upload.component.html -->

<app-header></app-header>

<div class="container">
  <div *ngIf="showUploadForm" class="upload-container">
    <h2>Analizar Archivo CSV</h2>
    <input type="file" (change)="onFileChange($event)" />
  </div>

  <div *ngIf="data && data.length > 0" class="analysis-results">
    <div class="result-container">
      <div class="result-table-container">
        <h3>Resultados del Análisis:</h3>
        <div class="table-wrapper">
          <table class="result-table">
            <thead>
              <tr>
                <th>Ciudad</th>
                <th>Cantidad de Muertos</th>
                <!-- Agrega más columnas según sea necesario -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of analyzedData">
                <td>{{ result.estado }}</td>
                <td>{{ result.ultimoResultado['4/27/21'] || 'N/A' }}</td>
                <!-- Agrega más celdas según sea necesario -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="result-statements-container">
        <div class="result-statements">
          <h3>Estadísticas Generales:</h3>
          <p>Estado con mayor acumulado a la fecha: {{ getEstadoConMayorAcumulado() || 'N/A' }}</p>
          <p>Estado con menor acumulado a la fecha: {{ getEstadoConMenorAcumulado() || 'N/A' }}</p>
          <!-- <p>El estado más afectado: {{ getEstadoMasAfectado() || 'N/A' }}</p> -->
       
        </div>
      </div>
    </div>
  </div>

  <a *ngIf="!data && !showUploadForm" href="../../../assets/time_series_covid19_deaths_US.csv" download="sample.csv" class="download-link">
    Descargar archivo de muestra
  </a>
</div>

<app-footer></app-footer>
