<app-header></app-header>

<div class="container">
  <div *ngIf="showUploadForm" class="upload-container">
    <h2>Analizar Archivo CSV</h2>
    <input type="file" (change)="onFileChange($event)" />
    <a  href="../../../assets/time_series_covid19_deaths_US.csv" download="sample.csv" >
      Descargar archivo de muestra
    </a>
  </div>

  <div *ngIf="data && data.length > 0" class="analysis-results">
    <div class="result-container">
      <div class="result-table-container">
        <h3>Resultados del Análisis:</h3>
        <div class="table-wrapper">
          <table class="result-table">
            <thead>
              <tr>
                <th>Estado</th>
                <th>Cantidad de Fallecidos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of analyzedData">
                <td>{{ result.state }}</td>
                <td>{{ result.lastResult['4/27/21'] || 'N/A' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="result-statements">
        <h3>Estadísticas Generales:</h3>
        <p>Estado con mayor acumulado a la fecha: <strong>{{ getStateWithHighestTotal()?.state || 'N/A' }}</strong></p>
        <p>Estado con menor acumulado a la fecha: <strong>{{ getStateWithLeastCumulative() || 'N/A' }}</strong></p>
        <p>El estado más afectado: <strong>{{ getStateWithHighestTotal()?.state || 'N/A' }}</strong> - Con: <strong>{{ getStateWithHighestTotal()?.total || 'N/A' }} </strong>personas fallecidas</p>

      </div>

        </div>
      </div>
    </div>

<app-footer></app-footer>
