<nav class="navbar  fixed bg">

  <div class="container-fluid ">

    <div class="left">
      <a class=" " href="/#/home">
        <!-- <img src="../../../assets/logo.svg" class="w-11" alt=""> -->
      </a>
    </div>

    <div class="menu-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="dot-row"></span>
      <span class="dot-row"></span>
      <span class="dot-row"></span>
    </div>

    <!-- <button class="navbar-toggler  ms-auto text-dark " type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <!-- <div class="offcanvas-header  bg-dark">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div> -->

      <div class="close-menu offcanvas-header  bg-dark" data-bs-dismiss="offcanvas" aria-label="Close">
        <div class="menu-icon-close">
          <span class="dot-close dot-close-one"></span>
          <span class="dot-close dot-close-two"></span>
        </div>
        <span>Cerrar</span>
      </div>

      <div class="offcanvas-body bg-dark ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <br><br><br><br><br>

          <li class="nav-item">
            <a class="nav-link active text-white text-center fs-6 text lh-base" aria-current="page"
              href="/#/home">HOME</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white text-center fs-6 text lh-base" href="/#/about-us">NOSOTROS</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white text-center fs-6 text lh-base" href="/#/previous-raffles">SORTEOS
              ANTERIORES</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white text-center fs-6 text lh-base" href="/#/contac">CONTACTO</a>
          </li>

          <li class="nav-item">
            <!-- <a class="nav-link text-white text-center fs-6 text lh-base" href="#">REDES SOCIALES</a> -->

            <br>

            <div class="container center">
              <div class="row row-cols-3">
                <div class="grilla">
                  <!-- <ul class=""> -->



                  <br>

                  <!-- <div>
                    <a class="youtube" href="#"><i class="">
                        <img src="../../../assets/YouTube.svg" alt="">
                      </i>
                    </a>
                  </div> -->

                  <!-- </ul> -->
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
