<!-- footer.component.html -->

<footer class="footer">
  <div class="container">
    <p>&copy; 2024 - Jhordan Caro</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/tu_usuario_linkedin" target="_blank" rel="noopener noreferrer">
        <!-- <mat-icon>linkedin</mat-icon> -->
      </a>
      <a href="https://github.com/tu_usuario_github" target="_blank" rel="noopener noreferrer">
        <!-- <mat-icon>github</mat-icon> -->
      </a>
      <a href="mailto:tu_correo@dominio.com" target="_blank" rel="noopener noreferrer">
        <!-- <mat-icon>email</mat-icon> -->
      </a>
    </div>
  </div>
</footer>
