<footer class="footer">
  <div class="container">
    <p>&copy; 2024 - Jhordan Caro</p>

    <!-- Contenedor -->
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/jhordan-caro-b016b811a/" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="https://github.com/JordyCaro" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/github.svg" alt="GitHub">
      </a>
    </div>
  </div>
</footer>